.c-question-filter {
  display: flex;
  align-items: center;
  text-align: center;
  padding-bottom: 1.6rem;
  padding-top: 3.2rem;
  z-index: 5;

  &__open {
    width: 25vw;
    height: 100%;
    display: flex;
    position: absolute;
    left: calc(100% - 25vw);
    background-color: rgb(234, 165, 255);
    box-sizing: border-box;
    flex-direction: column;
    box-shadow: 4.8px 4.9px 16.5px rgba(0, 0, 0, 0.13), 12.2px 12.4px 41.6px rgba(0, 0, 0, 0.093),
      25px 25.3px 84.9px rgba(0, 0, 0, 0.075), 51.5px 52.2px 174.8px rgba(0, 0, 0, 0.06),
      141px 143px 479px rgba(0, 0, 0, 0.041);
  }

  &__close {
    display: none;
  }

  &__form {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      margin-bottom: 4.8rem;
    }

    mat-form-field {
      width: 90%;
    }

    &__buttons {
      width: 100%;
      display: inline-flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin-top: 90%;
      row-gap: .8rem;

      button {
        padding: 0.8rem;
        border-radius: 4px;
        font-weight: 500;
      }
    }

    &__btn-submit { background-color: #a489fd }
    &__btn-reset {
      background-color: transparent;
      color: #1e1e1e;
    }

    &__btn-submit:hover, &__btn-reset:hover {
      background-color: rgb(193, 129, 212);
      color: rgb(98, 0, 128);
  }
  }
}